* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lora", serif;
  height: 10000px;
  background-color: #e7dfd2;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background-color: #d4c8b1;

  padding: 2.5rem 1rem;
  z-index: 1000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #bba783;
}
.ham-menu {
  width: 2rem;
  height: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  margin-left: 0rem;
  z-index: 1000;
}
.bar {
  width: 1.5rem;
  height: 0.1rem;
  background-color: #4f4f4f;
  border-radius: 5px;
}
.ham-menu-content {
  position: fixed;
  top: 0;
  left: -50%; /* Inizialmente il menu è fuori dalla vista a sinistra */
  width: 50%; /* Copre il 50% della pagina */
  height: 100%;
  background-color: #d4c8b1;
  padding: 50px;
  transition: left 0.5s ease; /* Transizione per l'apertura */
  border-right: 1px solid #bba783;
}
.ham-menu-content.show {
  left: 0; /* Il menu entra completamente nella vista */
}
.ham-menu-content ul {
  list-style: none;
  padding: 0;

  width: 10rem;
  height: 30rem;
  margin-left: -2rem;
  margin-top: 3rem;
}

.ham-menu-content ul li {
  margin: 20px 0;
  text-align: center;
}

.ham-menu-content ul li a {
  color: #3b3b3b;
  text-decoration: none;
  font-size: 1.1rem;
  display: block;
}

.ham-menu-content ul li a:hover {
  text-decoration: underline;
}

.bar.remove {
  display: none;
}
.bar.transform1 {
  transform: rotate(45deg);
  position: relative;
  top: 4px;
}
.bar.transform2 {
  transform: rotate(-45deg);
  position: relative;
  top: -7px;
}

.logo {
  width: 14rem;
  height: 4rem;
  margin: 0 3.5rem 0 auto;
  background-image: url(Logo\ sicilian\ Room.svg);
  background-position: center;
  background-size: 120%;
  transition: margin 0.5s ease, width 0.5s ease; /* Transizione per l'apertura */
}
.logo.active {
  width: 10rem;
  height: 4rem;
  margin: 0 0rem 0 auto;
  background-image: url(Logo\ sicilian\ Room.svg);
  background-position: center;
  background-size: 120%;
  transition: margin 0.5s ease, width 0.5s ease; /* Transizione per l'apertura */
}

header {
  width: 100%;
  height: calc(100vh - 8vh);
  margin-top: 5rem;
  border: 1px solid black;
  overflow-x: hidden;
}
.container-slider {
  width: 310%;
  height: 100%;
  border: 1px solid green;
  display: flex;
  transition: transform 1s ease-in-out; /* Aggiungi transizione per scorrere le slide */
}

/* Modifica la transizione di .slide */
/* Aggiungi questa classe per il contenitore delle immagini */
.slide {
  width: 100vw;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(15, 15, 15, 0.5), rgba(0, 0, 0, 0.5)),
    url("Fotoheader1.jpg");
  animation: fadeIn 0.8s ease;
  opacity: 1;
}

.slide:nth-of-type(2) {
  background-image: linear-gradient(rgba(15, 15, 15, 0.5), rgba(0, 0, 0, 0.5)),
    url("Fotoheader2.jpg");
}
.slide:nth-of-type(3) {
  background-image: linear-gradient(rgba(15, 15, 15, 0.5), rgba(0, 0, 0, 0.5)),
    url("Fotoheader3.jpg");
}

.title-slide {
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;

  animation: fadeIn 1s ease-in;
}

.second-title-slide {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-top: 2rem;
  text-align: center;
  width: 90%;

  animation: fadeIn 1.2s ease-in;
}

.slide:nth-of-type(2) .title-slide,
.slide:nth-of-type(3) .title-slide {
  font-size: 2.3rem;
}

/* Aggiungi questa animazione per il fade-in dei testi */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Parte sotto */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Arriva nella posizione finale */
  }
}

.cta-button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #e7dfd281;
  padding: 15px 30px;
  text-align: center;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 4rem;
  animation: fadeIn 1.2s ease-in;
}

.cta-button:hover {
  background-color: #e7dfd2;
  color: #7a7a7a;
}

.indicators {
  width: 100%;
  height: 5rem;

  position: absolute;
  top: 50rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.indicator {
  width: 4rem;
  height: 0.1rem;
  border: none;
  background-color: white;
}
.indicator:hover {
  width: 3rem;
  height: 0.1rem;
  background-color: #b5a494;
}

.indicator.active {
  background-color: black;
}
