* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Lora", serif;
  height: 1000px;
  background-color: #f5f2eb;
}
header {
  width: 100vw;
  height: 100vh;
  background-color: #e7dfd2;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  background-color: #e7dfd2;
  padding: 2.5rem 1rem;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ham-menu {
  width: 2rem;
  height: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  margin-left: 0rem;
  z-index: 1000;
}
.bar {
  width: 1.5rem;
  height: 0.1rem;
  background-color: #4f4f4f;
  border-radius: 5px;
}
.ham-menu-content {
  position: fixed;
  top: 0;
  left: -50%; /* Inizialmente il menu è fuori dalla vista a sinistra */
  width: 50%; /* Copre il 50% della pagina */
  height: 100%;
  background-color: #e7dfd2;
  padding: 50px;
  transition: left 0.5s ease; /* Transizione per l'apertura */
}
.ham-menu-content.show {
  left: 0; /* Il menu entra completamente nella vista */
}
.ham-menu-content ul {
  list-style: none;
  padding: 0;

  width: 10rem;
  height: 30rem;
  margin-left: -2rem;
  margin-top: 3rem;
  border: 1px solid black;
}

.ham-menu-content ul li {
  margin: 20px 0;
  text-align: center;
}

.ham-menu-content ul li a {
  color: #3b3b3b;
  text-decoration: none;
  font-size: 1.1rem;
  display: block;
}

.ham-menu-content ul li a:hover {
  text-decoration: underline;
}

.bar.remove {
  display: none;
}
.bar.transform1 {
  transform: rotate(45deg);
  position: relative;
  top: 4px;
}
.bar.transform2 {
  transform: rotate(-45deg);
  position: relative;
  top: -7px;
}

.logo {
  width: 14rem;
  height: 4rem;
  margin: 0 3.5rem 0 auto;
  background-image: url(Logo\ sicilian\ Room.svg);
  background-position: center;
  background-size: 120%;
  transition: margin 0.5s ease, width 0.5s ease; /* Transizione per l'apertura */
}
.logo.active {
  width: 10rem;
  height: 4rem;
  margin: 0 0rem 0 auto;
  background-image: url(Logo\ sicilian\ Room.svg);
  background-position: center;
  background-size: 120%;
  transition: margin 0.5s ease, width 0.5s ease; /* Transizione per l'apertura */
}
